.bg-img1 {
  background-color: #000;
  background-size: cover;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.597), rgba(0, 0, 0, 0.608));
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
    rgba(170, 72, 72, 0.597),
    rgba(161, 55, 55, 0.608)
  );
  height: 100vh;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(
    rgba(238, 233, 233, 0.597),
    rgba(158, 141, 141, 0.608)
  );
  height: 100vh;
}
